<div id="layout" class="wrapper">
  <header class="main-header">
    <a ui-sref="dashboard" class="logo">
      <span class="logo-mini">Hank</span>
      <span class="logo-lg"><b>Hank</b>'s Bit by bit</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../assets/avatar.gif" class="user-image" alt="User Image">
              <span class="hidden-xs">Hank</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="../assets/avatar.gif" class="img-circle" alt="User Image">
                <p>
                  Hank @ W<b>i</b>Serv
                  <small>Join on Github in Nov. 2013</small>
                </p>
              </li>
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="https://github.com/wiserv-ued" target="blank"><i class="fa fa-github-alt"></i>&nbsp;UED</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="https://www.zhihu.com/people/uinika/activities" target="blank"><i class="fa fa-mixcloud"></i>&nbsp;知乎</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="mailto:uinika@outlook.com"><i class="fa fa-envelope-o"></i>&nbsp;邮箱</a>
                  </div>
                </div>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">简介</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">关闭</a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://github.com/uinika" target="blank"><i class="fa fa-git"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="搜索...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <ul class="sidebar-menu">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-microchip"></i> <span>Electronic</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>ARM</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>STM32</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>STC90C51</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-file-text"></i> <span>Reading</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>English</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-envira"></i> <span>Design</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Flat UI</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Ant Design</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Material Design</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-html5"></i> <span>Web</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>CSS</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>HTTP</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>HTML</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Javascript</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <div id="layout" ui-view></div>
  </div>
</div>